* {
  /* border: 1px solid red; */
}

/***************************** header CSS 시작 ******************************/
header {
  background-color: skyblue;
  background: url("../imgs/gym-back.jpeg");
}

.tap {
  padding: 10px;
}

.tap a {
  color: white;
  padding: 0px 5px 0px 5px;
  font-size: 15px;
}

.membership {
  float: right;
}

.logo h1 {
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

.logo a {
  text-decoration: none;
  color: hwb(0 100% 0%);
}

.logo img {
  display: inline-block;
  margin-bottom: 13px;
}

/****************************** header CSS 끝 *******************************/

.contents {
  padding: 50px 100px 50px 100px;
}

/***************************** session CSS 시작 ******************************/
/* 시설보기 시작 */
.intro-name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* .intro-h-name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */
/* 
.intro-h-name > div > h1 {
  color: white;
  font-size: 70px;
} */

.intro-img-all {
  width: auto;
}

.intro-img-all > div {
  text-align: center;
}

.img-box {
  display: flex;
  justify-content: center;
  /* height: 500px; */
  width: auto;
  margin: 30px;
}

.img {
  margin-left: 20px;
  margin-right: 20px;
}

/* 시설보기 끝 */

/* 기구소개 시작 */
.sporting-name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sporting-name > div {
  background-color: rgb(45, 45, 87);
}

.sporting-name > div > h1 {
  color: white;
  font-size: 70px;
}

.sporting-all {
  text-align: center;
}

.sporting-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.sporting-img {
  margin-left: 20px;
  margin-right: 20px;
}

/* 기구소개 끝 */

/* 오시는길 시작 */

.map-name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.map-box {
  display: flex;
  /* justify-content: center; */
  /* margin: 30px; */
}

/* .map-box-bus { */
/* display: flex; */
/* justify-content: center; */
/* margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 500px;
  height: 500px; */
/* } */

/* 오시는길 끝 */
/****************************** session CSS 끝 *******************************/

/****************************** footer CSS 시작 *******************************/
.site-footer {
  background-color: rgb(247, 247, 241);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.instagram:hover {
  background-color: #007bb6;
}

.social-icons a.envelope:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/******************************** footer CSS 끝 ********************************/
